@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: PlusJakartaSans, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Cantarell, Helvetica Neue, Ubuntu, sans-serif;
}

@media (min-width: 901px) and (max-width: 1440px) {
  nav {
    padding-inline: 30px;
  }
  main {
    padding-inline: 30px;
    padding-top: 30px;
    gap: 4rem
  }
}

main {
  columns: 5 140px;
}

.image-buttons {
  display: none;
  transform: all 1s;
}

.item:hover .image-buttons{
  display: flex;
}